body{
	background: #505050;
}

.wrapper{
	position: relative;
	margin:0 auto;
	width: 80%;
}

.clear{
	clear: both;
}

.case_border{
	background: #909090;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 8px 0px #000000;
	-webkit-box-shadow: 10px 10px 8px 0px #000000;
	-o-box-shadow: 10px 10px 8px 0px #000000;
	box-shadow: 10px 10px 8px 0px #000000;
}

header{
	position: relative;
	padding: 10px;
	height: 118px;	
}

.header_right{
	position: absolute;
	display: inline-block;
	height: 100%;
	top: 0px;
	right: 25px;
	padding: 10px;
}

.ico_right{
	position: relative;
	float: right;
	width: 25px;
	height: 100%;
}

.ico_right a:last-child{
	position: absolute;
	left: 0;
	bottom: 0;
}

.content{
	position: relative;
	display: flex;
	padding: 20px 30px 0px 30px;
}

.box_cell{
	position: relative;
	padding: 20px 10px 20px 10px;
	width: 20%;
	height: 425px;

}

.box_cell_left{
	margin-right: 20px;
}

.box_cell_right{
	margin-left: 20px;
}


.box_cell img{
	display: block;
	width: 68px;
	margin: 0 auto;
	padding-bottom: 10px;
	cursor: pointer;
}

.box_cell_left img:nth-child(3){
	border: 5px red solid;
	border-radius: 5px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.content_left img:last-child{
	padding-bottom: 30px;
}

.content_center{
	width: 1000px;
	height: 581px;
	border-radius: 10px;
	background: url("./resources/cluster.jpg") 0 0 no-repeat;
	background-size: cover;
	border: solid 10px #909090;
}

.content_center a{
	position: absolute;
	display: block;
	width: 10%;
	height: 30%;
	background: transparent;
	bottom: 10%;
	right: 45%;
}

.content_center a:last-child{
	position: absolute;
	display: block;
	width: 10%;
	height: 20%;
	background: transparent;
	bottom: 30%;
	right: 35%;
}

.wall{
	display: block;
	width: 100%;
	height: 71px;
	background: url("./resources/brick.jpg");
}

.content_input{
	position: absolute;
	padding: 20px 10px 20px 10px;
	width: 30%;
	top: 90%;
	left: -20px;
	background: #88ff89;
}

.content_input p{
	font-family: verdana, sans-serif;
	margin: 0;
}

.content_input form input:first-child{
	width: 70%;
}

.enter_text{
	font-family: georgia, sans-serif;
	font-size: 30px;
}

.red_shade{
	text-shadow: 8px 8px 4px rgba(255, 0, 0, 1);
}

